<!doctype html>

<meta charset="utf-8">
<title>Labyrinthe GIL M2</title>
<link rel="stylesheet" href="~/css/labyrinth/style.css" asp-append-version="true" />

<body>
	<canvas width="1000" height="800" style="border: 2px solid black" oncontextmenu="return false;"></canvas>
	<p id="gameMessages">Une seconde, les sbires travaillent dur pour construire ta perte.</p>


	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/labyrinth/labyrinthgenerator.js"></script>
	<script src="~/js/labyrinth/playMaze.js"></script>
</body>
