    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/labyrinth/labyrinth.css" asp-append-version="true" />
    <title>Labyrinth</title>
<body>
    <div id="labyrinth">
        <!-- Les divs .cell seront générées par JavaScript -->
        <a href="@Url.Action("GenerateMaze", "labyrinth")" class="btn btn-primary btn-lg">Voir les lobbys</a>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/labyrinth/labyrinth.js"></script>
</body>
